.resultDiv{
    margin-left: auto;
    margin-top: 30px; 
    margin-bottom: 30px;
    margin-right: auto;
    display: flex;
    width: 550px;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    flex-direction: column;
}

.message{
    display: flex;
    margin: auto;
    text-align: center;
}

.ranking{
    align-items: center;
    text-align: center;
    margin: 15px;
    color: black;
    border:1px solid #75C6C1;
    background-color: #75C6C1;
    border-radius: 2px;
    font-weight: bold;
}

.rating{
    text-align: center;
    font-weight: bold;
}

.correctAnswers{
    text-align: center;
    font-weight: bold;
}

.wrongAnswers{
    text-align: center;
    font-weight: bold;
}

