header{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100vw;
    height: 120px;
    background-color: black;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 2;
}

.headerTitle{
    color: white;
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
}

.image{
    width: 100px;
    height: 100px;
}

.title{
    display: flex;

}

.router-outlet{
    display: block;
    position: relative;
    top: 120px;
}

.usernameDiv{
    width: 12%;
    display:flex ;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    flex-direction: column;
}

.username{
    color: white;
    
}

.logoutButton {
        margin-bottom: 10px;
        margin-top: 5px;
        color: black;
        border:1px solid #75C6C1;
        background-color: #75C6C1;
        border-radius: 2px;
        font-weight: bold;

}